<main class="cadastro-content">
    <section class="cadastro-contain" id="usuario">
        <h2>Cadastro</h2>
        <input type="text" id="nomeUsuario" placeholder="Nome completo" />
        <input type="email" id="emailUsuario" placeholder="Email" />
        <input type="email" id="confirmarEmailUsuario" placeholder="Confirmar Email" />
        <input type="password" id="senhaUsuario" placeholder="Senha (min: 8 caracteres)" />
        <input type="password" id="confirmarSenhaUsuario" placeholder="Confirmar Senha" />
        <button onclick="registro()">Cadastrar</button>
    </section>
</main>

<script src="/javascripts/cadastro.js"></script>