<main>
    <h2>Cadastro</h2>
    <input type="text" id="registerName" placeholder="Nome completo" />
    <input type="email" id="registerEmail" placeholder="Email" />
    <input type="password" id="registerPassword" placeholder="Senha" />
    <button onclick="registerUser()">Cadastrar</button>
  </main>
<script src="/javascripts/cadastro.js"></script>