<main class="cadastro-content">
    <h2>Cadastro de Tradutor</h2>
    <input type="text" id="registerName" placeholder="Nome completo" />
    <input type="email" id="registerEmail" placeholder="Email" />
    <input type="password" id="registerPassword" placeholder="Senha" />
    <button onclick="registerTradutor()">Cadastrar</button>
  </main>
<script src="/javascripts/cadastro.js"></script>