<main class="erro-content">
    <section class="erro-contain">
        <h1 class="erro-message"><%= message %></h1>
        <h2 class="erro-status"><%= error.status %></h2>
        <pre class="erro-stack"><%= error.stack %></pre>
    </section>
</main>