<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head> 

<!-- Menu --> 
<%- include('partials/header') %>

<body>
  <%- body %>
</body>

<!-- Rodapé -->
 <%- include('partials/footer') %>

</html>