<main class="perfil-content"> 
  <h2>Perfil do Tradutor</h2>
  <p>Nome: <span id="perfilNome"><%= usuario.nome %></span></p>
  <p>Email: <span id="perfilEmail"><%= usuario.email %></span></p>
  <p>Tipo de Usuário: <span id="perfilTipoUsuario"><%= usuario.tipo %></span></p>
  </main>