<main class="sobre-content">
    <h2>Sobre o Projeto</h2>
    <p>Este site tem como objetivo facilitar a tradução de termos acadêmicos entre Wai Wai e Português.</p>
</main>
<script src="/javascripts/sobre.js"></script>