<main class="sobre-content">
    <section class="sobre-contain">
        <h2>Sobre o Projeto</h2>
        <p>Este site tem como objetivo facilitar a tradução de termos acadêmicos entre Wai Wai e Português.</p>
    </section>
</main>
<script src="/javascripts/sobre.js"></script>