<footer class="site-footer">
  <!--div class="social-footer">
    <a href="https://facebook.com/" target="_blank">
      <img src="/icons/icons8-facebook.svg" alt="Facebook">
    </a>
    <a href="https://instagram.com/" target="_blank">
      <img src="/icons/icons8-instagram.svg" alt="Instagram">
    </a>
    <a href="https://x.com/" target="_blank">
      <img src="/icons/icons8-twitterx.svg" alt="Twitter/X">
    </a>
    <!-a href="https://linkedin.com/in/suaPagina" target="_blank">
      <img src="/icons/linkedin.svg" alt="LinkedIn">
    </a->
  </div-->
  <!--p class="icons8-reference">Ícones por <a target="_blank" href="https://icons8.com">Icons8</a></p-->
  <p class="all-rights-reserved">&copy; 2025 Tradutor Way Way. Todos os direitos reservados.</p>
</footer>