<header>
    <h1>Dicionário Wai Wai</h1>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <nav id="menu" class="hidden">
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/sair" onclick="logout()">Sair</a></li>
      </ul>
    </nav>
</header>

<script src="/javascripts/cabecalho.js"></script>